// Specific CSS for your home-page

.card-logo {
  width: 400;
  height: auto;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {

  align-items: center;
  justify-content: center;


}

.link_none {
  a {
    text-decoration: none;
  }
}
