<div class="page_box">

<div class="span">
<h1>Discover our cute dogs</h1>
<div class="button">
<%= link_to "Add dog", new_dog_path(@dog), class: 'button btn btn-primary' %>
</div>
</div>




<div class="card-dogs">
  <% @dogs.each do |dog| %>
    <div class="card-dog">
    <% if dog.photo.attached? %>
    <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
    <% else  %>
    <%= image_tag "defaultimage.png", height: 300, width: 400, crop: :fill %>
    <% end %>
      <div class="card-dog-infos">
        <h2><%= link_to dog.name, dog_path(dog) %></h2>
      </div>
    </div>
  <% end %>
</div>



</div>
