<div class = "container">
  <div class="login-button">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </div>

  <div class = "image">
  <%= image_tag "woof4ulogo.png" , alt: 'logo', class: "card-logo" %>
  </div>
</div>
