<div class="container_home">
    <div class = "image">
    <%= link_to dogs_path do %>
    <%= image_tag "1.png" , alt: 'logo', class: "card-logo" %>
    <% end %>
    </div>
  <div class="home_text">
    <h3 class="h3">Click on the puppy to book a walk with our fluffy friends</h3>
  </div>
  <div>
    <%= link_to "I'm feeling lucky", "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F722616702707775365%2F&psig=AOvVaw2upnC4-3m9AiFtHLJyqsRr&ust=1700924234119000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMD87dfy3IIDFQAAAAAdAAAAABAF", class: "easter" %>
  </div>
</div>
