<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<div class = "container">
    <%= link_to dogs_path do %>
    <div class = "image">
    <%= image_tag "woof4ulogo.png" , alt: 'logo', class: "card-logo" %>
    </div>
    <% end %>
    <h1 class="h1">Click on the puppy to book a walk with our fluffy friends</h1>



</div>
