<div class="container_home">
    <%= link_to dogs_path do %>
    <div class = "image">
      <%= image_tag "1.png" , alt: 'logo', class: "card-logo" %>
    </div>
    <% end %>
  <div class="home_text">
    <h3 class="h3">Click on the puppy to book a walk with a fluffy friends</h3>
  </div>
</div>
