<div class = "container">
  <%= link_to dogs_path do %>
    <div class = "image">
    <%= image_tag "woof4ulogo.png" , alt: 'logo', class: "card-logo" %>
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
<% else%>
  <h1 class="h1">Bring someone else's puppy around</h1>
  <h1 class="h1">Why? Why not</h1>
<% end %>
