.mapboxgl-ctrl-geocoder {
  border: 1px solid lightgrey;
  background-color: transparent;
  max-width: none !important;
  width: 100% !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
}
