.btn {
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  font-family: $h1-font;
  font-size: 15px;
}

.btn_name {
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  font-family: $h1-font;
  font-size: 15px;
}

.btn-back {
  margin-top: 5px;
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  border-color: rgb(40, 40, 40);
  font-family: $h1-font;
  font-size: 15px;
}
