.btn {
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(213, 196, 123);
  border-color: rgb(213, 196, 123);
  font-family: $h1-font;
  font-size: 15px;
}

.btn_name {
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(213, 196, 123);
  border-color: rgb(213, 196, 123);
  font-family: $h1-font;
  font-size: 15px;
}

.btn-back {
  margin-top: 5px;
  font-weight: 500;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(213, 196, 123);
  border-color: rgb(213, 196, 123);
  font-family: $h1-font;
  font-size: 15px;
}
