.span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1{
    margin-left: 20px;
  }
}
.button{
  margin-top: 15px;
}
.card-dogs {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-dog {
  margin: 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-dog > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-dog h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-dog .card-dog-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-dog-infos .card-dog-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.box {
.card-box {
  margin: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  .text {
    padding: 20px;
  }
  #img-dog {
    width: 200px;
    height: 100%;
    object-fit: cover;
    img {
      width: 200px;
    height: 100%;
    object-fit: cover;
    }
  }
}
}
a {
  text-decoration: none;
}
