.container_show {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: $h1-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(213, 196, 123);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h3 {
  font-family: $h1-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(210, 185, 75);
  text-align: center;
  margin-bottom: 20px;
  margin-top: -68.893px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
}
h5 {
  font-family: $h1-font;
}

h4 {
  font-family: $h1-font;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(213, 196, 123);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;

}

p {
  font-family: $h1-font;
  font-size: 10px;
}

.address {
  display: flex;
  h5 {
    margin-right:10px;
  }
}

.owner {
  display: flex;
  h5 {
    margin-right:10px;
  }
}


.container_book {
  margin-left: 535px;
  margin-right: 535px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
}

.container_rating {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
}


.container_newdog {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
}

.background_home {
  background-color: #373737;
  height: 100vh;
}

.card-logo {
width: 600px;
}
