.container_show {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  background-color: #f8edeb;
}

body {
  background-color: #f8edeb;

}

h1 {
  font-family: $h1-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h3 {
  font-family: $h1-font;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}


h4 {
  font-family: $h1-font;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;

}

new {
  font-family: $h1-font;
  font-size: 15px;
  font-weight: 700;
}

h5 {
  font-family: $h1-font;
}

p {
  font-family: $h1-font;
  font-size: 10px;
}

.address {
  display: flex;
  h5 {
    margin-right:10px;
  }
}

.owner {
  display: flex;
  h5 {
    margin-right:10px;
  }
}

.container_book {
  margin-left: 535px;
  margin-right: 535px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
  background-color: #f8edeb;
}

.container_rating {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
  background-color: #f8edeb;
}


.container_newdog {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 70px;
  justify-content: center;
  align-content: center;
  background-color: #f8edeb;
}

.container_home {
  background-color: #f8edeb;
  height: 100vh;
}

.home_text {
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -5%;
}

.easter {
  color: #f8edeb;;
}
