.one-dog {
  margin-top: 20px;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  #dog-buttons {
    display: flex;
    display: inline-block;
    justify-content: center;
  }
  .ph-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .one-dog-infos {
    align-items: center;
   }
}

.one-dog img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}


.one-dog p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


#dog-buttons {
  margin-top: 20px;
  display: flex;
  display: inline-block;
}
.right {
  flex-direction: column;
  justify-content: space-evenly;
}

.div-rev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
